<div class="list-container">
    <div class="card-header col-md-10">
        <h2>
            {{ game }}
        </h2>
    </div>
    <div>
        <ul>
        <li> {{ genre }} </li>
        <li> {{ difficulty }} </li>
        <li> {{ length }} </li>
        <li> {{ is_priority }} </li>
        <li> {{ date_created }} </li>
        </ul>
    </div>
</div>


