<div class="container">
    <h1>{{game}}</h1>
    <h2>{{genre}}</h2>
    <h3>{{difficulty}}</h2>
    <h3>{{length}}</h2>
    <h3>By:{{"user.name"}}</h3>
    <h4>Created: {{format_date date_created}}</h4>
</div>